@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');
body{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    background-image: url(images/top-banner.png);
    margin: 0;
    padding: 0;
    font-family: 'poppins';
    align-items: center;
    background-repeat: no-repeat;
}
.left-section img{
    width: 60%;
    padding: 20px 20px;
}
.left-section{
    width: 60%;
    margin: 10px 20px;
}
.right-section{
    width: 40%;
    padding: 20px 20px;
}
.title{
    font-size: 48px;
}
span{
    color: rgb(192, 130, 15);
    display: block;
}
.second-section{
    font-size: 24px;
    font-weight: bold;
    line-height: 28px;
    padding: 0;
    margin: 0;
}
.discription{
    text-align: justify;
}
.right-section img{
    width: 80%;
    align-items: right;
}
.middle-section{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}